<div class="control-group">
                    <%= b.label :assess_appearance, "外观评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_appearance, :style => "width:480px;height:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :assess_skeletons, "骨架评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_skeletons, :style => "width:480px;height:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :assess_interior, "内饰评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_interior, :style => "width:480px;height:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :assess_engine, "发动机评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_engine, :style => "width:480px;height:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :assess_transmission, "变速箱评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_transmission, :style => "width:480px;height:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :assess_comprehensive, "车辆综合评估描述", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_area :assess_comprehensive, :style => "width:480px;height:50px" %>
                    </div>
                  </div>