<div class="control-group">
                    <div class="span3">
                      <%= f.label :customer_offer, "客户报价", :class => "control-label" %>
                        <div class="controls">
                            <%= f.text_field :customer_offer, :style => "width:50px" %><span class="add-on">万</span>
                        </div>
                    </div>
                    <div class="span3">
                      <%= f.label :evaluate_price, "评估价格", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :evaluate_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :procurement_price, "收购价格", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :procurement_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :newcar_price, "新车指导价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :newcar_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span3">
                      <%= f.label :suggested_price, "建议售价", :class => "control-label" %>
                        <div class="controls">
                            <%= f.text_field :suggested_price, :style => "width:50px" %><span class="add-on">万</span>
                        </div>
                    </div>
                    <div class="span3">
                      <%= f.label :maintenance_budget, "整备预算", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :maintenance_budget, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :selllimit_price, "销售限价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :selllimit_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :price_hand, "新车到手价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :price_hand, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                  </div>