<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
            <%= link_to "返回列表", :assessments, :class => "btn btn-info" if @car.status.nil? || @car.status == 0 %>
            <%= link_to "返回列表", depot_index_path, :class => "btn btn-info" if @car.status == 1 %>
					</li>
				</ul>
			</div>
      
  <%= render partial: "layouts/notice", locals: { model: @car } %>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i>修改车辆</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
          
					<div class="box-content">
            <%= form_for @car, url: assessment_path(@car), :html => { :class => "form-horizontal" } do |f| %>
            <ul class="nav nav-tabs" id="myTab">
							<li class="active"><a href="#info">基本信息</a></li>
							<li><a href="#property">车辆属性</a></li>
							<li><a href="#assess">车辆评估</a></li>
              <li><a href="#price">车辆报价</a></li>
              <li><a href="#configuration">车辆配置</a></li>
						</ul>
						 
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane active" id="info">

                <fieldset>
                  <%= render partial: "car_info", locals: { f: f } %>
                </fieldset>
              </div>
              
              <div class="tab-pane" id="property">
                <fieldset>
                  <%= f.fields_for :car_property do |b| %>
                  <%= render partial: "car_property", locals: { b: b } %>
                  <% end %>
                </fieldset>
              </div>
              
              <div class="tab-pane" id="assess">
                <fieldset>
                  <%= f.fields_for :car_assess do |b| %>
                  <%= render partial: "car_assess", locals: { b: b } %>
                  <% end %>
                </fieldset>
              </div>
              
              <div class="tab-pane" id="price">
                <fieldset>
                  <%= render partial: "car_price", locals: { f: f } %>
                  <div class="control-group">
                    <%= f.label "价格变动原因", :class => "control-label" %>
                    <div class="controls">
                      <%= text_field_tag "reason", nil, :class => 'input-xlarge' %>
                    </div>
                  </div>
                  
                  <%= render partial: "price_log", locals: { list: @car.price_logs.order(addtime: :desc) } %>
                </fieldset>
              </div>
              
              <div class="tab-pane" id="configuration">
                <fieldset>
                  <%= f.fields_for :car_configuration do |b| %>
                  <%= render partial: "car_configuration", locals: { b: b } %>
                  <% end %>
                </fieldset>
              </div>
              <div class="form-actions">
                <%= f.submit "保存", :class => "btn btn-primary" %>
              </div>
            </div>
            <% end %>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->