<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
            <%= link_to "返回列表", :assessments, :class => "btn btn-info" %>
					</li>
				</ul>
			</div>
      
      <% if flash[:notice] %>  
			<div class="alert alert-info">
				<%= flash[:notice] %>
			</div>
      <% end %>
  
      <% if @car.errors.any? %>
      <div class="alert alert-info">
        <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </div>
      <% end %>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i>添加车辆</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
          
					<div class="box-content">
            <%= form_for @car, url: :assessments, :html => { :class => "form-horizontal" } do |f| %>
            <ul class="nav nav-tabs" id="myTab">
							<li class="active"><a href="#info">基本信息</a></li>
							<li><a href="#property">车辆属性</a></li>
							<li><a href="#assess">车辆评估</a></li>
              <li><a href="#configuration">车辆配置</a></li>
              <li><a href="#tip">跟进提醒</a></li>
						</ul>
						 
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane active" id="info">

                <fieldset>
                  <div class="control-group">
                    <%= f.label :car_no, "车辆编号", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :car_no, :class => "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :saletype, "车辆类型", :class => "control-label" %>
                    <div class="controls">
                      <% Saletype.all.each do |saletype| %>
                      <label class="checkbox inline">
                        <%= f.radio_button :saletype, saletype.name %><%= saletype.name %>
                      </label>
                      <% end %>
                    </div>
                  </div>
                  <div class="control-group success">
                    <%= f.label :brand, "车辆品牌", :class => "control-label" %>
                    <div class="controls">
                      <%= f.select :brand, Brand.all.order(:initial).collect { |p| [ p.name_with_initial, p.name ] }, include_blank: true %>
                      <%= f.select :series, Series.all.order(:initial).collect { |p| [ p.name_with_initial, p.name ] }, include_blank: true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span4">
                      <%= f.label :vin, "VIN码", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :vin %>
                      </div>
                    </div>
                    <div class="span4">
                      <%= f.label :engineid, "发动机号", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :engineid %>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :platenumber, "车牌号", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :platenumber, :placeholder => "请输入完整的车牌号，如：浙：A888R8", :class => "span8" %>
                    </div>
                  </div>
                  <div class="control-group success">
                    <%= f.label :models, "车辆型号", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :models, :class => "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span4">
                      <%= f.label :ownername, "车主姓名", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :ownername %>
                      </div>
                    </div>
                    <div class="span4">
                      <%= f.label :ownerphone, "车主电话", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :ownerphone %>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :newsfrom, "信息来源", :class => "control-label" %>
                    <div class="controls">
                      <% Newsfrom.all.each do |newsfrom| %>
                      <label class="checkbox inline">
                        <%= f.radio_button :newsfrom, newsfrom.name %><%= newsfrom.name %>
                      </label>
                      <% end %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :location, "车辆位置", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :location, :placeholder => "表示车辆存放点。当前车辆的位置，可以是您的库存位置，也可以是您的合作伙伴的展厅。", :class => "span8" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :rating, "车辆等级", :class => "control-label" %>
                    <div class="controls">
                      <% Rating.all.each do |rating| %>
                      <label class="checkbox inline">
                        <%= f.radio_button :rating, rating.name %><%= rating.name %>
                      </label>
                      <% end %>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="span3">
                      <%= f.label :customer_offer, "客户报价", :class => "control-label" %>
                        <div class="controls">
                            <%= f.text_field :customer_offer, :style => "width:50px" %><span class="add-on">万</span>
                        </div>
                    </div>
                    <div class="span3">
                      <%= f.label :evaluate_price, "评估价格", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :evaluate_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :procurement_price, "收购价格", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :procurement_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :newcar_price, "新车指导价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :newcar_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span3">
                      <%= f.label :suggested_price, "建议售价", :class => "control-label" %>
                        <div class="controls">
                            <%= f.text_field :suggested_price, :style => "width:50px" %><span class="add-on">万</span>
                        </div>
                    </div>
                    <div class="span3">
                      <%= f.label :maintenance_budget, "整备预算", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :maintenance_budget, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :selllimit_price, "销售限价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :selllimit_price, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                    <div class="span3">
                      <%= f.label :price_hand, "新车到手价", :class => "control-label" %>
                      <div class="controls">
                        <%= f.text_field :price_hand, :style => "width:50px" %><span class="add-on">万</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-actions">
                    <%= f.submit "保存", :class => "btn btn-primary" %>
                  </div>
                </fieldset>
              </div>
              
              <div class="tab-pane" id="property">
                <fieldset>
                  <%= f.fields_for :car_property do |b| %>
                  
                  <div class="control-group">
                    <%= b.label :transmission, "变速器", :class => "control-label" %>
                    <div class="controls">
                      <% Transmission.all.each do |r| %>
                      <label class="checkbox inline">
                        <%= b.radio_button :transmission, r.name %><%= r.name %>
                      </label>
                      <% end %>
                    </div>
                  </div>
                  <div class="control-group success">
                    <%= b.label :cc, "排气量", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_field :cc %><%= b.select :cc_unit, CcUnit.all.collect { |p| [ p.name, p.name ] }, {}, :style => "width:50px" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :transfer_number, "过户次数", :class => "control-label" %>
                    <div class="controls">
                      <%= b.text_field :transfer_number %><span class="add-on">次</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :production_date, "出厂日期", :class => "control-label" %>
                    <div class="controls">
                      <%= b.date_field :production_date %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :registration_date, "登记日期", :class => "control-label" %>
                    <div class="controls">
                      <%= b.date_field :registration_date %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= b.label :registration_province, "上牌地区", :class => "control-label" %>
                    <div class="controls city-group">
                      <%= b.select :registration_province, options_for_select(ChinaCity.list), { include_blank: true }, :class => "city-select" %>
                      <%= b.select :registration_city, {}, { include_blank: true }, :class => "city-select" %>         
                      <%= b.select :registration_district, {}, { include_blank: true }, :class => "city-select" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span4">
                      <%= b.label :mileage, "行驶里程", :class => "control-label" %>
                        <div class="controls">
                          <%= b.text_field :mileage, :style => "width:100px;" %><span class="add-on">万公里</span>
                        </div>
                    </div>
                    <div class="span4">
                      <%= b.label :maintenance_mileage, "最后保养里程", :class => "control-label" %>
                        <div class="controls">
                          <%= b.text_field :maintenance_mileage, :style => "width:100px;" %><span class="add-on">万公里</span>
                        </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="span4">
                      <%= b.label :color, "车身颜色", :class => "control-label" %>
                        <div class="controls">
                          <%= b.select :color, Color.all.collect { |p| [ p.name, p.name, { :style => "background-color:#{p.color}" } ] }, { include_blank: true } %>
                        </div>
                    </div>
                    <div class="span4">
                      <%= b.label :interior_color, "内饰颜色", :class => "control-label" %>
                        <div class="controls">
                          <%= b.select :interior_color, InteriorColor.all.collect { |p| [ p.name, p.name, { :style => "background-color:#{p.color}" } ] }, { include_blank: true } %>
                        </div>
                    </div>
                  </div>
                  
                  <% end %>
                </fieldset>
              </div>
            </div>
            <% end %>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->