<%
diya_date = diya.addtime
str = ""
while diya_date < DateTime.now do
  diya_date = diya_date + 29.days
  str = "color:red" if diya_date.strftime("%Y-%m-%d") == DateTime.now.strftime("%Y-%m-%d")
end
%>
<tr style="<%= str%>">
  <td><%= link_to diya.car_no, car_info_path(diya) %></td>
  <td><%= diya.vin %></td>
  <td><%= diya.addtime.strftime("%Y-%m-%d") %></td>
  <td><%= "#{diya.brand} #{diya.series} #{diya.models}" %></td>
  <td><%= diya.car_property.cc if diya.car_property %><%= diya.car_property.cc_unit if diya.car_property %></td>
</tr>