<tr>
                <td><%= followup.followupable.name %></td>
                <td><%= followup.followup_type.name %></td>
                <td><%= followup.content %></td>
                <td><%= followup.has_next_str %></td>
                <td><%= followup.next_time %></td>
                <td><%= followup.next_content %></td>
                <td><%= link_to followup.is_finished_str, edit_customer_followup_path(followup.followupable, followup), :class => "btn btn-info"  %></td>
							</tr>