<div id="content" class="span10">
			<!-- content starts -->

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>数据统计</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>库存车辆数目</th>
                  <th>本月评估台次</th>
                  <th>本月销售台次</th>
                  <th>本月客户录入</th>
                  <th>今日入库数目</th>
                  <th>今日评估台次</th>
                  <th>今日销售台次</th>
                  <th>今日客户录入</th>
							  </tr>
						  </thead>   
						  <tbody>
                <tr>
                  <td><%= @depot_count %></td>
                  <td><%= @assess_count %></td>
                  <td><%= @selloff_count %></td>
                  <td><%= @customer_count %></td>
                  <td><%= @today_depot_count %></td>
                  <td><%= @today_assess_count %></td>
                  <td><%= @today_selloff_count %></td>
                  <td><%= @today_customer_count %></td>
                </tr>
              </tbody>
            </table>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
  
      <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>我的跟进提醒</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>客户名称</th>
								  <th>联系方式</th>
                  <th>联系内容</th>
                  <th>是否提醒</th>
                  <th>提醒日期</th>
                  <th>提醒内容</th>
                  <th>是否处理</th>
							  </tr>
						  </thead>   
						  <tbody>
                <% @followups.each do |followup| %>
							<tr>
                <td><%= followup.followupable.name %></td>
                <td><%= followup.followup_type.name %></td>
                <td><%= followup.content %></td>
                <td><%= followup.has_next_str %></td>
                <td><%= followup.next_time %></td>
                <td><%= followup.next_content %></td>
                <td><%= link_to followup.is_finished_str, edit_customer_followup_path(followup.followupable, followup), :class => "btn btn-info"  %></td>
							</tr>
              <% end %>
              </tbody>
            </table>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
  
  
      <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>我的客户</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>编号</th>
                  <th>修改</th>
                  <th>状态</th>
                  <th>客户名称</th>
                  <th>需求车辆</th>
                  <th>需求价位</th>
                  <th>商机阶段</th>
                  <th>跟进</th>
							  </tr>
						  </thead>   
						  <tbody>
              <% @customers.each do |customer| %>
							<tr>
                <td><%= link_to customer.no, customer_path(customer) %></td>
                <td><%= link_to "修改", edit_customer_path(customer) %></td>
                <td><%= customer.status_str %></td>
                <td><%= customer.name %></td>
                <td><%= customer.need_car %></td>
                <td><%= customer.need_price %></td>
                <td><%= customer.business_stage.name %></td>
                <td><%= link_to "(#{customer.followups.count})新增", new_customer_followup_path(customer) %></td>
							</tr>
              <% end %>
              </tbody>
            </table>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->