<tr>
                <td><%= link_to car.car_no, car_info_path(car) %></td>
                <td><%= car.depot.name if car.depot %></td>
                <td><%= car.vin %></td>
								<td class="center">
                  <%= link_to "修改", edit_assessment_path(car) %><br>
                  <%= link_to "删除", assessment_path(car), :method => :delete, data: { confirm: "确定要删除吗" } %><br>
                  <%= link_to "售出修改", selloff_edit_path(id: car.id) %><br>
                  <%= link_to "撤消售出", selloff_destroy_path(id: car.id), :method => :delete, cdata: { confirm: "确定要撤消吗" } %>
                </td>
                <td><%= car.addtime.strftime("%Y-%m-%d") if car.addtime %></td>
                <td><%= car.selloff_time.strftime("%Y-%m-%d") if car.selloff_time %></td>
                <td><%= car.car_property.production_date.strftime("%Y-%m-%d") if car.car_property.production_date %></td>
                <td><%= car.status_str %></td>
                <td><%= car.saletype %></td>
                <td>
                  <% if car.car_photos.count != 0 %>
                  <%= link_to image_tag(car.car_photos.first.photo.url(:thumb)), photos_path(:car_info_id => car.id, :photo_style => 1), :target => "_blank" %>
                  <% else %>
                  <%= link_to "上传", photos_path(:car_info_id => car.id, :photo_style => 1), :target => "_blank" %>
                  <% end %>
                </td>
                <td><%= "#{car.brand} #{car.series} #{car.models}" %></td>
                <td><%= car.car_property.cc if car.car_property %><%= car.car_property.cc_unit if car.car_property %></td>
                <td><%= car.car_property.mileage if car.car_property %>万公里</td>
                <td><%= link_to "(#{car.followups.where("state = 0").count})新增", new_car_info_followup_path(car) %></td>
                <td><%= car.deal_price %>万元</td>
                <td><%= "#{car.selllimit_price}万元" %></td>
                <td><%= car.sell_way.name if car.sell_way %></td>
							</tr>
