<div id="content" class="span10">
			<!-- content starts -->
			<div>
				<ul class="breadcrumb">
					<li>
            <%= link_to "导出Excel", selloff_index_path(format: "xls"), :class => "btn btn-info" %>
					</li>
				</ul>
			</div>

      <% if flash[:notice] %>  
			<div class="alert alert-info">
				<%= flash[:notice] %>
			</div>
      <% end %>
      
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>已售车辆</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>车辆编号</th>
                  <th>操作</th>
                  <th>评估日期</th>
                  <th>状态</th>
                  <th>类型</th>
                  <th>评估照片</th>
                  <th>车辆品牌型号</th>
                  <th>车牌号</th>
                  <th>排量</th>
                  <th>表显里程</th>
                  <th>跟进</th>
                  <th>成交价格</th>
                  <th>评估价</th>
                  <th>评估师</th>
							  </tr>
						  </thead>   
						  <tbody>
              <% @cars.each do |car| %>
							<tr>
                <td><%= link_to car.car_no, assessment_path(car), :target => "_blank" %></td>
								<td class="center">
                  <%= link_to "修改", edit_assessment_path(car), :class => "btn btn-info" %>
                  <%= link_to "删除", assessment_path(car), :method => :delete, :class => "btn btn-danger", :confirm => "确定要删除吗" %>
                </td>
                <td><%= car.addtime.strftime("%Y-%m-%d") if car.addtime %></td>
                <td><%= car.status_str %></td>
                <td><%= car.saletype %></td>
                <td>
                  <% if car.car_photos.count != 0 %>
                  <%= link_to image_tag(car.car_photos.first.photo.url(:thumb)), photos_path(:car_info_id => car.id, :photo_style => 1), :target => "_blank" %>
                  <% else %>
                  <%= link_to "上传", photos_path(:car_info_id => car.id, :photo_style => 1), :class=> "btn btn-info", :target => "_blank" %>
                  <% end %>
                </td>
                <td><%= "#{car.brand} #{car.series} #{car.models}" %></td>
                <td><%= car.platenumber %></td>
                <td><%= car.car_property.cc if car.car_property %><%= car.car_property.cc_unit if car.car_property %></td>
                <td><%= car.car_property.mileage if car.car_property %>万公里</td>
                <td><%= link_to "(#{car.followups.count})新增", new_car_info_followup_path(car), :class => "btn btn-info" %></td>
                <td><%= car.deal_price %>万元</td>
                <td><%= "#{car.evaluate_price}万元" %></td>
                <td><%= car.user.name if car.user %></td>
							</tr>
              <% end %>
						  </tbody>
					  </table> 
            
            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->