<tr>
                <td><%= followup.followup_type.name %></td>
                <td><%= followup.content %></td>
                <td><%= followup.has_next_str %></td>
                <td><%= followup.next_time.strftime("%Y-%m-%d") %></td>
                <td><%= followup.next_content %></td>
                <td><%= link_to followup.is_finished_str, edit_car_info_followup_path(@car_info, followup), :class => "btn btn-info"  %></td>
							</tr>