<div id="content" class="span10">
			<!-- content starts -->
      <%= render partial: "layouts/notice", locals: { model: @followup} %>  
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>修改跟进提醒</h2>
					</div>          
					<div class="box-content">
            <%= form_for @followup, :url => car_info_followup_path(@car_info, @followup), :html => { :class => "form-horizontal" } do |f| %>
							<fieldset>
                <%= render partial: "form", locals: { f: f} %>
                <div class="control-group">
                  <%= f.label :is_finished, "是否处理", :class => "control-label" %>
                  <div class="controls">
                    <label class="checkbox inline">
                      <%= f.radio_button :is_finished, 1 %>是
                    </label>
                    <label class="checkbox inline">
                      <%= f.radio_button :is_finished, 0 %>否
                    </label>
                  </div>
							  </div>
							  <div class="form-actions">
                  <%= f.submit "保存", :class => "btn btn-primary" %>
							  </div>
							</fieldset>
            <% end %>					
					</div>
				</div><!--/span-->			
			</div><!--/row-->
  
      <%= render partial: "followups" %>
    
					<!-- content ends -->
			</div><!--/#content.span10-->