<div id="content" class="span10">
			<!-- content starts -->
			<div>
				<ul class="breadcrumb">
					<li>
            <%= link_to "返回列表", :customers, :class => "btn btn-info" %>
					</li>
				</ul>
			</div>
      <%= render partial: "layouts/notice", locals: { model: @customer} %>  
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>修改客户</h2>
					</div>          
					<div class="box-content">
            <%= form_for @customer, :html => { :class => "form-horizontal" } do |f| %>
            <ul class="nav nav-tabs" id="myTab">
							<li class="active"><a href="#info">基本信息</a></li>
							<li><a href="#need">需求信息</a></li>
							<li><a href="#other">其他信息</a></li>
						</ul>            
            <div id="myTabContent" class="tab-content">
							<div class="tab-pane active" id="info">
                <%= render partial: "info", locals: { f: f } %>
              </div>            
							<div class="tab-pane" id="need">
                <%= f.fields_for :customer_need do |b| %>
                <%= render partial: "need", locals: { f: b } %>
                <% end %>
              </div>              
              <div class="tab-pane" id="other">
                <%= f.fields_for :customer_other do |b| %>
                <%= render partial: "other", locals: { f: b } %>
                <% end %>
              </div>              
              <div class="form-actions">
                <%= f.submit "保存", :class => "btn btn-primary" %>
							</div>
            </div>
            <% end %>					
					</div>
				</div><!--/span-->			
			</div><!--/row-->  
					<!-- content ends -->
			</div><!--/#content.span10-->