<div id="content" class="span10">
			<!-- content starts -->
			<div>
				<ul class="breadcrumb">
					<li>
            <a href="javascript:onprint()" class="btn btn-info">打印</a>
					</li>
				</ul>
			</div>
      <%= render partial: "layouts/notice", locals: { model: nil} %>      
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>客户信息</h2>
					</div>
					<div class="box-content" id="printArea">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th colspan="6">基本资料</th>
                </tr>
                <tr>
                  <th>客户名称</th>
                  <td><%= @customer.name %></td>
                  <th>客户编号</th>
                  <td><%= @customer.no %></td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td colspan="3"><%= @customer.phone %></td>
                </tr>
                <tr>
                  <th>年龄</th>
                  <td><%= @customer.age.name %></td>
                  <th>身份证号</th>
                  <td><%= @customer.id_number %></td>
                </tr>
                <tr>
                  <th>客户行业</th>
                  <td><%= @customer.industry.name %></td>
                  <th>职务</th>
                  <td><%= @customer.duty.name %></td>
                </tr>
                <tr>
                  <th>客户地址</th>
                  <td><%= @customer.address %></td>
                  <th>所在区域</th>
                  <td><%= @customer.customer_need.transfer_area %></td>
                </tr>
                <tr>
                  <th>客户状态</th>
                  <td><%= @customer.status_str %></td>
                  <th>客户类别</th>
                  <td><%= @customer.customer_sort.name %></td>
                </tr>
                <tr>
                  <th>销售顾问</th>
                  <td><%= @customer.user.name %></td>
                  <th>录入时间</th>
                  <td><%= @customer.addtime.strftime("%Y-%m-%d") %></td>
                </tr>
                <tr>
                  <th>客户接待途径</th>
                  <td><%= @customer.call_type.name %></td>
                  <th>来电时间</th>
                  <td><%= @customer.call_time.strftime("%Y-%m-%d") %></td>
                </tr>
                <tr>
                  <th colspan="4">客户需求信息</th>
                </tr>
                <tr>
                  <th>车辆品牌</th>
                  <td><%= @customer.customer_need.brand %></td>
                  <th>车辆车系</th>
                  <td><%= @customer.customer_need.series %></td>
                </tr>
                <tr>
                  <th>车辆型号</th>
                  <td><%= @customer.customer_need.models %><td>
                  <th>车身颜色</th>
                  <td><%= @customer.customer_need.color %></td>
                </tr>
                <tr>
                  <th>内饰颜色</th>
                  <td><%= @customer.customer_need.interior_color %></td>
                  <th>排量要求</th>
                  <td><%= @customer.customer_need.cc_require %></td>
                </tr>
                <tr>
                  <th>里程要求</th>
                  <td><%= @customer.customer_need.mileage_require %></td>
                  <th>车龄要求</th>
                  <td><%= @customer.customer_need.car_age_require %></td>
                </tr>
                <tr>
                  <th>变速器要求</th>
                  <td><%= @customer.customer_need.transmission %></td>                  
                  <th>车辆类型要求</th>
                  <td><%= @customer.customer_need.car_sort.name if @customer.customer_need.car_sort %></td>
                </tr>
                <tr>
                  <th>心理价位</th>
                  <td><%= @customer.customer_need.expectative_price_require %></td>                  
                  <th>过户地区</th>
                  <td><%= @customer.customer_need.transfer_area %></td>
                </tr>
                <tr>
                  <th>牌照要求</th>
                  <td><%= @customer.customer_need.platenumber_demand %></td>                  
                  <th>是否按揭</th>
                  <td><%= @customer.customer_need.is_mortgage_str %></td>
                </tr>
                <tr>
                  <th>按揭说明</th>
                  <td><%= @customer.customer_need.mortgage_description %></td>                  
                  <th>其他需求说明</th>
                  <td><%= @customer.customer_need.brand_others %></td>
                </tr>                  
              </thead>
					  </table> 
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
                  <th colspan="6">相关跟进<%= link_to "新增跟进", new_customer_followup_path(@customer), :class => "btn btn-info" %></th>
                </tr>
                <tr>
                  <th>跟进方式</th>
                  <th>跟进内容</th>
                  <th>提醒时间</th>
                  <th>提醒内容</th>
                  <th>业务员</th>
                  <th>联系时间</th>
                </tr>
                <% @customer.followups.each do |b| %>
                <tr>
                  <td><%= b.followup_type.name %></td>
                  <td><%= b.content %></td>
                  <td><%= b.next_time.strftime("%Y-%m-%d") %><%= b.is_finished_str2 %></td>
                  <td><%= b.next_content %></td>
                  <td><%= b.user.name %></td>
                  <td><%= b.addtime.localtime %></td>
                </tr>
                <% end %>
              </thead>
            </table>            
					</div>
				</div><!--/span-->			
			</div><!--/row-->    
					<!-- content ends -->
			</div><!--/#content.span10-->