<tr>
                <td><%= proceed.car_info.car_no %></td>
								<td class="center">
                  <%= link_to "修改", edit_proceed_path(proceed) %>
                  <%= link_to "删除", proceed_path(proceed), :method => :delete, data: { confirm: "确定要删除吗" } %>
                </td>
                <td><%= proceed.car_info.info %></td>
                <td><%= proceed.car_info.vin %></td>
                <td><%= proceed.car_info.procurement_price %>万</td>
                <td><%= proceed.car_info.deal_price %>万</td>
                <td>
                  共有<%= proceed.proceeds_details.count %>个项目<br>
                  <% proceed.proceeds_details.each do |item| %>
                  <%= "#{item.proceeds_reason.name} 金额: ￥#{item.cost} 付款方式: #{item.payments_way.name} 说明: #{item.remark}" %><br>
                  <% end %>
                </td>
                <td><%= proceed.cost %>元</td>
                <td><%= proceed.user.name if proceed.user %></td>
                <td><%= proceed.addtime.strftime("%Y-%m-%d") %></td>
							</tr>