<tr>
								<td><span class="label label-success"><%= brand.initial %></span> <%= brand.name %></td>
								<td class="center">
                  <%= link_to "添加车系", new_brand_series_path(brand), :class => "btn btn-info" %>
                  <%= link_to "查看车系", brand_series_index_path(brand), :class => "btn btn-success" %>
                </td>
								<td class="center">
                  <%= link_to "修改", edit_brand_path(brand), :class => "btn btn-info" %>
                  <%= link_to "删除", brand_path(brand), :method => :delete, :class => "btn btn-danger", :confirm => "确定要删除吗？" %>
                </td>
							</tr>