<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
						<a href="/">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a>信息设置</a>
					</li>
				</ul>
			</div>

      <% if flash[:notice] %>  
			<div class="alert alert-info">
				<%= flash[:notice] %>
			</div>
      <% end %>
      <%= link_to "添加品牌", :new_brand, :class => "btn btn-info" %>
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-picture"></i>车辆品牌</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>品牌名称</th>
                  <th>车系</th>
                  <th>操作</th>
							  </tr>
						  </thead>   
						  <tbody>
              <% @brands.each do |brand| %>
							<tr>
								<td><span class="label label-success"><%= brand.initial %></span> <%= brand.name %></td>
								<td class="center">
                  <%= link_to "添加车系", new_brand_series_path(brand), :class => "btn btn-info" %>
                  <%= link_to "查看车系", brand_series_index_path(brand), :class => "btn btn-success" %>
                </td>
								<td class="center">
                  <%= link_to "修改", edit_brand_path(brand), :class => "btn btn-info" %>
                  <%= link_to "删除", brand_path(brand), :method => :delete, :class => "btn btn-danger", :confirm => "确定要删除吗？" %>
                </td>
							</tr>
              <% end %>
						  </tbody>
					  </table> 
            
            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->