<div class="ui blue inverted center aligned top attached segment">
  <p>添加车辆品牌</p>
</div>
<div class="ui attached segment">
  <%= link_to "返回列表", :brands, :class => "ui mini blue button" %>
</div>
<div class="ui attached segment">
  <div class="ui error form segment">
    <% if flash[:notice] %>
    <div class="ui error message">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= form_for @brand do |f| %>
    <div class="field">
      <label>品牌名称</label>
      <%= f.text_field :name, :placeholder => "请输入品牌名称" %>
    </div>
    <%= f.submit "保存", :class => "ui blue submit button" %>
    <% end %>
  </div>
</div>