<div id="content" class="span10">
			<!-- content starts -->  
			<%= render partial: "layouts/notice", locals: { model: @followup} %>  
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>添加跟进提醒</h2>
					</div>          
					<div class="box-content">
            <%= form_for @followup, :url => customer_followups_path(@customer), :html => { :class => "form-horizontal" } do |f| %>
							<fieldset>
							  <%= render partial: "form", locals: { f: f } %>
							  <div class="form-actions">
                  <%= f.submit "保存", :class => "btn btn-primary" %>
							  </div>
							</fieldset>
            <% end %>					
					</div>
				</div><!--/span-->			
			</div><!--/row--> 
  
      <%= render partial: "followups" %>
    
					<!-- content ends -->
			</div><!--/#content.span10-->