<div id="content" class="span10">
			<!-- content starts -->
			<div>
				<ul class="breadcrumb">
					<li>
						<%= link_to "返回车系列表", brand_series_index_path(@brand), :class => "btn btn-info" %>
					</li>
				</ul>
			</div>      
      <%= render partial: "layouts/notice", locals: { model: @brand} %>  
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>修改<%= @brand.name %>车系</h2>
					</div>          
					<div class="box-content">
            <%= form_for @series, :url => brand_series_path(@brand, @series), :html => { :method => :put, :class => "form-horizontal"} do |f| %>
            <%= render partial: "form", locals: {f: f} %>
            <% end %>					
					</div>
				</div><!--/span-->			
			</div><!--/row-->
					<!-- content ends -->
			</div><!--/#content.span10-->