<div class="ui blue inverted center aligned top attached segment">
  <p>修改<%= @brand.name %>车系</p>
</div>
<div class="ui attached segment">
  <%= link_to "返回车系列表", brand_series_index_path(@brand), :class => "ui mini blue button" %>
</div>
<div class="ui attached segment">
  <div class="ui error form segment">
    <% if flash[:notice] %>
    <div class="ui error message">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if @series.errors.any? %>
    <div class="ui error message">
      <% @series.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </div>
    <% end %>
    
    <%= form_for @series, url: brand_series_path(@brand, @series), :html => { :method => :put } do |f| %>
    <div class="field">
      <label>车系名称</label>
      <div class="ui left input">
        <%= f.text_field :name, :placeholder => "请输入车系名称" %>
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
    </div>
    <%= f.submit "修改", :class => "ui blue submit button" %>
    <% end %>
  </div>
</div>