<div id="content" class="span10">
			<!-- content starts -->
			<div>
				<ul class="breadcrumb">
					<li>
						<%= link_to "添加车系", new_brand_series_path(@brand), :class => "btn btn-info" %>
					</li>
					<li>
						<%= link_to "返回品牌列表", :brands, :class => "btn btn-info" %>
					</li>
				</ul>
			</div>

      <% if flash[:notice] %>  
			<div class="alert alert-info">
				<%= flash[:notice] %>
			</div>
      <% end %>
      
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><%= @brand.name %>-车系</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>车系名称</th>
                  <th>操作</th>
							  </tr>
						  </thead>   
						  <tbody>
              <% @series.each do |series| %>
							<tr>
								<td><span class="label label-success"><%= series.initial %></span> <%= series.name %></td>
								<td class="center">
                  <%= link_to "修改", edit_brand_series_path(@brand, series), :class => "btn btn-info" %>
                  <%= link_to "删除", brand_series_path(@brand, series), :method => :delete, :class => "btn btn-danger", :confirm => "确定要删除吗？" %>
                </td>
							</tr>
              <% end %>
						  </tbody>
					  </table> 
            
            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

    
					<!-- content ends -->
			</div><!--/#content.span10-->