<!DOCTYPE html>
<html>
<head>
  <title>欢迎使用二手车交易管理系统</title>
  <% # , "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <% #, "data-turbolinks-track" => true %>
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
	<![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- topbar starts -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">				
				<a class="brand" href="/" style="width:500px"> <img alt="Charisma Logo" src="<%= asset_path("logo20.png") %>" /> <span>二手车交易管理系统</span></a>				
			</div>
		</div>
	</div>
  
  <div class="container-fluid">
		<div class="row-fluid">
      <%= render :partial => "layouts/menu" %>
      <noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>      
      <%= yield %>
    </div>		
    
    <hr>

		<footer>
			<p class="pull-left">&copy; 2014</p>
			<p class="pull-right">Powered by: </p>
		</footer>    
	</div>
  
  <%= javascript_include_tag "application" %>
  <% #, "data-turbolinks-track" => true %>
  
  <%= yield :javascript %>
</body>
</html>