<!DOCTYPE html>
<html>
<head>
  <title>Car</title>
  <% # , "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui small menu">
    <div class="ui dropdown item">
      车辆评估 <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">增加车辆</a>
        <a class="item">车辆评估</a>
      </div>
    </div>
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="item">
        <%= link_to "退出", { controller: "index", action: "logout" }, class: "ui teal button" %>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
